* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.side-margins {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    flex-direction: row;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-img {}

.info-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-photos {
    display: flex;
    flex-direction: row;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blockquote {
    width: 700px;
}

.blue-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #3882f6;
    background-color: #3882f6;
    width: 800px;
    height: 100px;
}

#bottom {
    height: 50px;
}

footer {
    width: 100%;
    text-align: center;
}